#message {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-top: 2em;
}

#confirmButton {
	font-weight: bold;
	font-size: 2em;
	padding: 20px;
	margin:auto;
	margin-top: 2em;
	display:block;
}